<!doctype html>
<html lang="en"><head><meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../css/main.css">
<link rel="shortcut icon" href="../i/favicon.ico">
<title>Tech Showcase: Template</title></head><body>

<header>
	<h1>Template Page
	<i>Technology Showcase</i></h1>
</header>

<nav>
	<a href=".." class="btn">Home</a>
	<a href="../print" class="btn">3D Printers</a>
	<a href="../ev" class="btn">EVs</a>
	<a href="../drone" class="btn">Drones</a>
	<a href="" class="btn">Template</a>
	<a href="http://github.com/4stc/tech_showcase" class="btn">Source</a>
	<i>Technology / Home</i>
</nav>

<main>
	<div class="col" id="left">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
		sed do eiusmod tempor incididunt ut labore et dolore magna
		aliqua. Ut enim ad minim veniam, quis nostrud exercitation
		ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<div class="grid">
		<aside>
			<h3>Optional Heading</h3>
		</aside>
		<figure>
			<figcaption>First Example</figcaption>
			<img src="../i/example1.png" alt="an example image">
		</figure>
		<figure>
			<figcaption>Second Example</figcaption>
			<img src="../i/example2.png" alt="an example image">
		</figure>
		<figure>
			<figcaption>Third Example</figcaption>
			<img src="../i/example2.png" alt="an example image">
		</figure>
		<figure>
			<figcaption>Forth Example</figcaption>
			<img src="../i/example1.png" alt="an example image">
		</figure>
	</div>
	</div>
	<div class="col" id="right">
		<h2>Example List</h2>
		<ul>
			<li>example one</li>
			<li>example two</li>
			<li>example three</li>
		</ul>
		<h2>Another Example</h2>
		<ul>
			<li>example one</li>
			<li>example two</li>
			<li>example three</li>
		</ul>
	</div>
</main>

<footer>
	<p>Made by Porter Swanstrom |
	<a href="../i/wireframe_mobile.png" target="_blank">Mobile Wireframe</a> |
	<a href="../i/wireframe_desktop.png" target="_blank">Desktop Wireframe</a>
	</p>
</footer>

</body></html>
